{% extends "base.html" %}

{% block content %}
    <h1>Detalle del Proyecto</h1>
    {{error}}
    <h2>{{portafolio.title}}</h2>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            Update
        </button>

    </form>

    <form action="{% url 'complete_portafolio' portafolio.id%}" method="POST">
        {% csrf_token %}
        <button>
            Complete
        </button>

    </form>

    <form action="{% url 'delete_portafolio' portafolio.id%}" method="POST">
        {% csrf_token %}
        <button>
            Delete
        </button>

    </form>
    
{% endblock %}